.content-container {
    width: 100vw;
    height: 68vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.product-nav {
    width: 100vw;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.link1 {
    width: 50vw;
    height: 10vh;
    background-color: green;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}

.link2 {
    width: 50vw;
    height: 10vh;
    background-color: yellow;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* .link3 {
    width: 30vw;
    height: 10vh;
    background-color: orange;
} */