.content-container2 {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.product-nav2 {
    width: 100vw;
    height: 12vh;
    display: flex;
    align-items: center;
}

.link2 {
    width: 50vw;
    height: 10vh;
    background-color: #FFD64C;
    display: flex;
    justify-content: flex-start;
    align-items: center;   
    margin-right: 3px;
    border: solid white;
    border-radius: 10px;
    cursor: pointer;
}
.link2:hover{
    transform: scale(1.025);
}

.link3 {
    width: 50vw;
    height: 10vh;
    background-color: orange;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-right: 5px;
    border: solid white;
    border-radius: 10px;  
    cursor: pointer;
}
.link3:hover{
    transform: scale(1.025);
}
/* This changes the font on main */
h1 {
    /* margin-top: 0px; */
    padding-left: 5px;
}