.nav1 {
    width: 100vw;
    height: 18vh;
    background-color: #243B68;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.nav-title > h1 {
    width: 23vw;
    height: 10vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-family: Georgia;
    color: white;
    font-weight: bold;
    padding-left: 1vw;

    /* background-color: #8F8F36;
    border: solid 3px white;  
    border-radius: 10px; */
    
}

.nav-title > h1 > img {
    padding-top: 0px;
    display: flex;
    justify-content: center;
    align-items: center;    
}

h1 {
    margin-left: 1vw;
    font-size: 30px;   
}

h4 {
    font: sans-serif;
    color: white;
    font-weight: 100;    
}

.box-links {
    width: 40vw;
    height: 4vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 1vw;   
}
